[*.cs]

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# IDE0018: Inline variable declaration
dotnet_diagnostic.IDE0018.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# IDE0054: Use compound assignment
dotnet_diagnostic.IDE0054.severity = none

# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none

# IDE0270: Use coalesce expression
dotnet_diagnostic.IDE0270.severity = none

# CA2249: Consider using 'string.Contains' instead of 'string.IndexOf'
dotnet_diagnostic.CA2249.severity = none

# IDE0029: Use coalesce expression
dotnet_diagnostic.IDE0029.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# IDE0330: Use 'System.Threading.Lock'
dotnet_diagnostic.IDE0330.severity = none

# CA1869: Cache and reuse 'JsonSerializerOptions' instances
dotnet_diagnostic.CA1869.severity = none

# IDE0306: Simplify collection initialization
dotnet_diagnostic.IDE0306.severity = none

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = none
