<div class="rf-panel">
    <div class="rf-panel-title">Dettaglio</div>
    <div class="rf-panel-body">
        <div class="detail-content">@(Record != null ? BuildDetail() : "Selezionare un episodio.")</div>
    </div>
</div>

@code {
    /// <summary>
    /// Record selezionato da visualizzare
    /// </summary>
    [Parameter] public FileProcessingRecord Record { get; set; }

    /// <summary>
    /// Opzioni correnti per calcolare il processing audio visualizzato
    /// </summary>
    [Parameter] public Options Options { get; set; }

    /// <summary>
    /// Builder testo dettaglio episodio
    /// </summary>
    private DetailPanelTextBuilder _builder = new DetailPanelTextBuilder();

    /// <summary>
    /// Costruisce il testo dettaglio per il record selezionato
    /// </summary>
    /// <returns>Stringa con dettaglio completo</returns>
    private string BuildDetail()
    {
        return this._builder.Build(Record, Options);
    }
}
